h1 = @question.title
p = @question.body

- if current_user&.author_of? @question
  = link_to "delete question", question_path(@question), method: :delete

h2 Answers
.answers
   = render 'answers/answers'
 
- if user_signed_in?
  .errors
= render 'answers/form'
